{% extends 'users/staff_base.html' %}
{% load static %}
{% block content %}

<div class="text-light">
    {% for institution, users in grouped_users_by_institution.items %}
        <h2>{{ institution }}</h2>
        <ul>
            {% for user in users %}
                <li>{{ user.fullname }}</li>
                <ul>
                    <li>{{ user.gender }}</li>
                </ul>
                <!-- Display other user information as needed -->
                
            {% endfor %}
        </ul>
    {% endfor %}
</div>



{%endblock%}