{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">    
    {% if user.is_authenticated %}
    <div class="wrapper">
      <div class="content">
        <h3>Hello {{ user.first_name }}!</h3>
          <p>Welcome to {{owner.name}} Online Bursary Application.</p>
          <p>{{owner.description}}</p>
          <a class="btn btn-block btn-primary" href="{% url 'personal_details' %}">Proceed</a>
      </div>
    </div>
   
    {% else %}
        <div>
            <div id="product-landing">
                <div id="nav">
                  <div id="logo" >
                    <img height='200px' width='400px' src="{% static 'images/overall.jpg' %}">
    
                  </div>
                </div>
                <div id="hero" style='margin-top:140px;margin-bottom:20px'>
                  <div id="hero-intro">
                    <div id="hero-text">
                      <h1>Welcome to {{ owner.name }} Bursary Web App</h1>
                      
                      <p class="mt-1">{{owner.description}}</p>
                    
                    </div>
                   
                  </div>
                 
                </div>
              
        <div>
    <a style='text-decoration:none' class='btn btn-primary text-light text-light' href="/signup">Sign Up</a>
    <a style='text-decoration:none' class='btn btn-primary text-light text-light' href="/signin">Sign In</a>
    {% endif %}
    </div>
</div>
</div>

{% endblock %}