{% extends 'users/staff_base.html' %}
{% load static %}
{% block content %}

     <div class="projects mb-4">
          <div class="projects-inner">
               <header class="projects-header">
                    <div class="title">List of Applicants With Disabilities</div>
                    <div class="count">| {{applicants_count}}</div>
               </header>
               <table class="projects-table">
                 <thead>
                      <tr>
                           <th>Full Name</th>
                           <th>Gender</th>
                           <th>Institution</th>
                           <th>Campus / Branch </th>
                           <th>Requested Amount</th>
                           <th>Amount Awarded</th>
                           <th>Status</th>
                           <th>View Profile</th>
                      </tr>
                 </thead>
                 <tr>
                 {% if zipped %}
                 {% for applied_users_personal_detail, status_for_all_user in zipped %}
                      <tr class="danger-item">
                           <td>
                                <p>{{applied_users_personal_detail.fullname}}</p>
                                <!-- <p>Mother's Name </p> -->
                           </td>
                           <td style="text-transform: capitalize;">
                                <p>{{applied_users_personal_detail.gender}}</p>
                           </td>
                           <td >
                                
                                <p>{{applied_users_personal_detail.institution}}</p>
                                
                           </td>
                           <td>
                                <p>{{applied_users_personal_detail.campus_or_branch}}</p>
                           </td>
                           <td>
                                <p>{{applied_users_personal_detail.ammount_requesting}}</p>
                           </td>
                           <td class="status">
                             {{ status_for_all_user.awarded }}
                        </td>
                           <td class="status">
                                {{ status_for_all_user.application_status }}
                           </td>
                           
                           <td>
                                <a href="{% url 'user_profile' applied_users_personal_detail.user_id %}">View Profile</a>
                           </td>
                      
                      </tr>
                      {% endfor %}
                 {% endif %}

            </table>
          </div>

          
          
     </div>
     <div class="projects mb-4">
     <div class="projects-inner">
          <header class="projects-header bg-primary">
               <div class="title">List of Applicants who are Orphans</div>
               <div class="count" style='color:white;'>| {{count_orphans}}</div>
          </header>
          <table class="projects-table">
               <thead>
                    <tr>
                         <th>Full Name</th>
                         <th>Gender</th>
                         <th>Institution</th>
                         <th>Campus / Branch </th>
                         <th>Requested Amount</th>
                         <th>Amount Awarded</th>
                         <th>Status</th>
                         <th>View Profile</th>
                    </tr>
               </thead>
               <tr>
               {% if zipped2 %}
               {% for personal_details_for_orphans, status_for_orphan_applicants in zipped2 %}
                    <tr class="danger-item">
                         <td>
                              <p>{{personal_details_for_orphans.fullname}}</p>
                              <!-- <p>Mother's Name </p> -->
                         </td>
                         <td style="text-transform: capitalize;">
                              <p>{{personal_details_for_orphans.gender}}</p>
                         </td>
                         <td >
                              
                              <p>{{personal_details_for_orphans.institution}}</p>
                              
                         </td>
                         <td>
                              <p>{{personal_details_for_orphans.campus_or_branch}}</p>
                         </td>
                         <td>
                              <p>{{personal_details_for_orphans.ammount_requesting}}</p>
                         </td>
                         <td class="status">
                         {{ status_for_orphan_applicants.awarded }}
                    </td>
                         <td class="status">
                              {{ status_for_orphan_applicants.application_status }}
                         </td>
                         
                         <td>
                              <a href="{% url 'user_profile' personal_details_for_orphans.user_id %}">View Profile</a>
                         </td>
                    
                    </tr>
                    {% endfor %}
               {% endif %}
          
          </table>
     </div>
     </div>
{% endblock %}
