{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ owner.name }} Online CDF Application</title>
     <link rel="shortcut icon" href="{% static 'images/overall.jpg' %}" type="image/x-icon">
     <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}"> -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>
     {% for message in messages %}
    <div id='messages_to_be_deleted' class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
     <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'staff_dashboard' %}">{{ owner.name }} Admin Panel</a>
          <ul class="navbar-nav px-3">
               <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{% url 'signout' %}">Sign out</a>
               </li>
          </ul>
     </nav>
     <div class="container-fluid">
          <div class="row">
               <nav class="col-md-2 d-none d-md-block sidebar">
                    <div class="sidebar-sticky">
                         <ul class="nav flex-column">
                              <li class="nav-item">
                                   <a class="nav-link" href="{% url 'staff_dashboard' %}">
                       <i class="zmdi zmdi-widgets"></i>
                       Dashboard <span class="sr-only">(current)</span>
                     </a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active" href="{% url 'list_of_applicants'%}">
                       <i class="zmdi zmdi-file-text"></i>
                       Applications
                     </a>
                              <li class="nav-item">
                                   <a class="nav-link" href="{% url 'orphans_or_disability' %}">
                       <i class="zmdi zmdi-accounts"></i>
                       Orphans Or Disabilities
                     </a>
                     <li class="nav-item">
                         <a class="nav-link" href="{% url 'returning_applicants'%}">
             <i class="zmdi zmdi-accounts"></i>
             Returning Applicants
           </a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="#">
                       <i class="zmdi zmdi-chart"></i>
                       Reports
                     </a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="#">
                       <i class="zmdi zmdi-layers"></i>
                       Integrations
                     </a>
                              </li>
                         </ul>
     
                         <h6 class="sidebar-heading d-flex justify-content-between align-items-center pl-3 mt-4 mb-1 text-muted">
                              <span>Saved reports</span>
                              <a class="d-flex align-items-center text-muted" href="#">
                                   <i class="zmdi zmdi-plus-circle-o"></i>
                              </a>
                         </h6>
                         <ul class="nav flex-column mb-2">
                              <li class="nav-item">
                                   <a class="nav-link" href="#">
                       <i class="zmdi zmdi-file-text"></i>
                       Current month
                     </a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="#">
                       <i class="zmdi zmdi-file-text"></i>
                       Last quarter
                     </a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="#">
                       <i class="zmdi zmdi-file-text"></i>
                       Social engagement
                     </a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="#">
                       <i class="zmdi zmdi-file-text"></i>
                       Year-end sale
                     </a>
                              </li>
                         </ul>
                    </div>
               </nav>
               <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
                    <div class="projects mb-4">
                         <div class="projects-inner">
                              <header class="projects-header">
                                   <div class="title">Applications</div>
                              </header>
                              <!-- HERE -->
                                <form method="post" action="{% url 'new_application' %}">
                                    {% csrf_token %}
                                    
                                    <label for="id_for_reference">ID for Reference:</label>
                                    <input type="text" name="id_for_reference" id="id_for_reference" required><br><br>
                                    
                                    <label for="name_of_application">Name of Application:</label>
                                    <input type="text" name="name_of_application" id="name_of_application" required><br><br>
                                    
                                    <label for="funds_available_for_secondary_schools">Funds for Secondary Schools:</label>
                                    <input type="number" name="funds_available_for_secondary_schools" id="funds_available_for_secondary_schools" required><br><br>
                                    
                                    <label for="funds_available_for_universities">Funds for Universities:</label>
                                    <input type="number" name="funds_available_for_universities" id="funds_available_for_universities" required><br><br>
                                    
                                    <label for="start_date">Start Date:</label>
                                    <input type="date" name="start_date" id="start_date" required><br><br>
                                    
                                    <label for="end_date">End Date:</label>
                                    <input type="date" name="end_date" id="end_date" required><br><br>
                                    
                                    <input type="submit" value="Submit">
                                </form> 
                            
                         </div>
                    </div>
               </main>
          </div>
     </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
     <script src="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/jquery.selectric.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
</body>
</html>