{% extends 'users/staff_base.html' %}
{% load static %}
{% block content %}

     <div class="projects mb-4">
          <div class="projects-inner">
               <header class="projects-header">
                    <div class="title">List of Reapplying Applicants</div>
               </header>
               <table class="projects-table">
                 <thead>
                      <tr>
                           <th>Full Name</th>
                           <th>Gender</th>
                           <th>Institution</th>
                           <th>Campus / Branch </th>
                           <th>Requested Amount</th>
                           <th>View Profile</th>
                      </tr>
                 </thead>
                 <tr>
                 {% if zipped_returning %}
                 {% for their_profile , application_applied in zipped_returning %}
                      <tr class="danger-item">
                           <td>
                                <p>{{their_profile.fullname}}</p>
                                <!-- <p>Mother's Name </p> -->
                           </td>
                           <td style="text-transform: capitalize;">
                                <p>{{their_profile.gender}}</p>
                           </td>
                           <td >
                                <p>{{their_profile.institution}}</p>
                           </td>
                           <td>
                                <p>{{their_profile.campus_or_branch}}</p>
                           </td>
                           <td>
                                <p>{{their_profile.ammount_requesting}}</p>
                           </td>
                           <td>
                                <a href="{% url 'user_profile' their_profile.user_id %}">View Profile</a>
                           </td>
                      </tr>
                      {% endfor %}
                 {% endif %}
                 
            </table>
          </div>
     </div>
{% endblock %}