
{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<div class='container justify-content-center align-items-center mt-5' style="height: 100vh;">
    <div class="row">
        <div class="col-md-6">
            <img class="image-sizing" src="{% static 'images/ng-cdf.png' %}" alt="" srcset="">
        </div>
        <div class="col-md-6 move-top our-form">
            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;margin-bottom:20px;">Welcome to {{owner.county}} Bursary App</h2>
    <h3>Log into your account.</h3>
    <form method="post" action="/signin" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        
        <div class="form-group  py-2 mt-3">
            <!-- <button class="btn btn-outline-info" type="submit">Login</button> -->
            <button type="submit" class="btn btn-primary">Log In</button>
            <small class="text-muted ml-2">
                <div class="form-group mt-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                <div>
                <a href="/signup">Don't have an account? Register</a>
                </div>
                </div>
            </small>
        </div>
    </form>
        </div>

    </div>
    
</div>
{% endblock %}