{% extends 'users/staff_base.html' %}
{% load static %}
{% block content %}

     <div class="card-list">
          <div class="row">
               <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card blue" style="padding: 20px;">
                         <p>Name Of Application:</p>
                         <p> <u> <strong>{{application.name_of_application}}</strong></u></p>
                         <p>Starting Date: {{application.start_date}}</p>
                         <p>Ending Date: {{application.end_date}}</p>

                         
                    </div>
               </div>
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card green">
                         <div class="title">number of applicants</div>
                         <div class="value">{{application.number_of_applicant}}</div>
                    </div>
               </div>
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card orange">
                         <div class="title">Funds Allocated for Secondary School</div>
                         <div id="sec_alloc" class="value">Kshs. {{funds_available_for_secondary_schools}}</div>
                         <p id="remaining_secondary_funds">Remaining Amount:</p>


                    </div>
               </div>
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card red">
                         <div class="title">Funds Allocated for Higher Institutions</div>
                         <div id="high_alloc" class="value">Kshs. {{funds_available_for_universities}}</div>
                         <p id="remaining_higher_education_funds">Remaining Amount:</p>
                    </div>
               </div>
          </div>
     </div>

     <div class="card-list">
          <div class="row">
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card blue" style="padding: 20px;">
                         <p>Number of Approved Applicants</p>
                         <p>{{approved_applicants_count}}</p>
                    </div>
               </div>
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card green">
                         <div class="title">Funds Awarded</div>
                         <div class="value">{{approved_sum}}</div>
                    </div>
               </div>
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card orange">
                         <div class="title">Funds Awarded To Secondary School</div>
                         <div id="appr_sec" class="value">Kshs. {{approved_sum_secondary}}</div>
                    </div>
               </div>
               <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card red">
                         <div class="title">Funds Available To Higher Institutions</div>
                         <div id="appr_high" class="value">Kshs. {{approved_sum_higher_education}}</div>
                    </div>
               </div>
          </div>
     </div>
     <div class="projects mb-4">
          <div class="projects-inner">
               <header class="projects-header">
                    <div class="title">List of Applicants who Received Funds</div>
                    <div class="count">| <a href="{% url 'approved_lst_pdf'%}">Download</a></div>
               </header>
               <table class="projects-table">
                    <thead>
                         <tr>
                              <th>Full Name</th>
                              <th>Gender</th>
                              <th>Institution</th>
                              <th>Requested Amount</th>
                              <th>Awarded Amount</th>
                              <th>Funds For</th>
                              <th>View Profile</th>
                              <th>Awarding Letter</th>
                              <th>Approved By</th>
                         </tr>
                    </thead>
                    <tr>
                    {% if zipped_data_3 %}
                    {% for disbursed_users_personal_details, status_for_all_disbursed in zipped_data_3 %}
                         <tr class="danger-item">
                              <td>
                                   <p>{{disbursed_users_personal_details.fullname}}</p>
                                   <!-- <p>Mother's Name </p> -->
                              </td>
                              <td style="text-transform: capitalize;">
                                   <p>{{disbursed_users_personal_details.gender}}</p>
                              </td>
                              <td >
                                   
                                        <p>{{disbursed_users_personal_details.institution}}</p>
                                   
                              </td>
                              <td>
                                   <p>{{disbursed_users_personal_details.ammount_requesting}}</p>
                              </td>
                              <td class="status">
                                   Kshs. {{ status_for_all_disbursed.awarded }}
                              </td>
                              <td class="status">
                                   {{ status_for_all_disbursed.funds_for }}
                              </td>
                              <td>
                                   <a href="{% url 'user_profile' disbursed_users_personal_details.user_id %}">View Profile</a>
                              </td>
                              <td class="status">
                                   <a href="{% url 'generate_bursary_letter' disbursed_users_personal_details.user_id %}">Download</a>
                              </td>
                              <td class="status">
                                  <p>{{ status_for_all_disbursed.approved_by }}</p> 
                              </td>
                         
                         </tr>
                         {% endfor %}
                    {% endif %}
                    
               </table>
          </div>
     </div>

     <div class="projects mb-4">
          <div class="projects-inner">
               <header class="projects-header">
                    <div class="title">List of Approved Applicants</div>
                    <div class="count">| {{approved_applicants_count}}</div>
                    <div class="count">| <a href="{% url 'approved_lst_pdf'%}">Download</a></div>
               </header>
               <table class="projects-table">
                    <thead>
                         <tr>
                              <th>Full Name</th>
                              <th>Gender</th>
                              <th>Institution</th>
                              <th>Requested Amount</th>
                              <th>Awarded Amount</th>
                              <th>Funds For</th>
                              <th>View Profile</th>
                              <th>Awarding Letter</th>
                              <th>Approved By</th>
                         </tr>
                    </thead>
                    <tr>
                    {% if approved_users_personal_details %}
                    {% for approved_applicant, funds_awarded in zipped_data %}
                         <tr class="danger-item">
                              <td>
                                   <p>{{approved_applicant.fullname}}</p>
                                   <!-- <p>Mother's Name </p> -->
                              </td>
                              <td style="text-transform: capitalize;">
                                   <p>{{approved_applicant.gender}}</p>
                              </td>
                              <td >
                                   
                                        <p>{{approved_applicant.institution}}</p>
                                   
                              </td>
                              <td>
                                   <p>{{approved_applicant.ammount_requesting}}</p>
                              </td>
                              <td class="status">
                                   Kshs. {{ funds_awarded.awarded }}
                              </td>
                              <td class="status">
                                   {{ funds_awarded.funds_for }}
                              </td>
                              <td>
                                   <a href="{% url 'user_profile' approved_applicant.user_id %}">View Profile</a>
                              </td>
                              <td class="status">
                                   <a href="{% url 'generate_bursary_letter' approved_applicant.user_id %}">Download</a>
                              </td>
                              <td class="status">
                                   <p>{{ funds_awarded.approved_by }}</p> 

                              </td>
                         
                         </tr>
                         {% endfor %}
                    {% endif %}
                    
               </table>
          </div>
     </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/jquery.selectric.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>
// Get values from the elements
const appr_sec = document.getElementById('appr_sec').innerText;
const appr_high = document.getElementById('appr_high').innerText;
const high_alloc = document.getElementById('high_alloc').innerText;
const sec_alloc = document.getElementById('sec_alloc').innerText;

const appr_high1 = parseInt(appr_high.replace(/[^0-9]/g, ''), 10);
const appr_sec1 = parseInt(appr_sec.replace(/[^0-9]/g, ''), 10);
const high_alloc1 = parseInt(high_alloc.replace(/[^0-9]/g, ''), 10);
const sec_alloc1 = parseInt(sec_alloc.replace(/[^0-9]/g, ''), 10);

// Calculate remaining funds
const remaining_higher_education_funds = high_alloc1 - appr_high1;
const remaining_secondary_funds = sec_alloc1 - appr_sec1;

// Update remaining funds in the corresponding elements
document.getElementById('remaining_higher_education_funds').innerText = 'Remaining Amount: Kshs. '+ remaining_higher_education_funds;
document.getElementById('remaining_secondary_funds').innerText = 'Remaining Amount: Kshs. '+ remaining_secondary_funds;

console.log(appr_high);
console.log(remaining_secondary_funds);

</script>
{% endblock %}