{% extends 'users/staff_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container text-light mt-5">
    <h2>Total Funds Approved for {{institution}} is {{total_awarded_value|intcomma}}</h2>
        <table class="table table-striped mt-4">
            <thead>
            <tr class="bg-info">
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Adm/Reg No.</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
                {% for student, award in zipped_date%}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{student.fullname}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.admin_no}}</td>
                <td>{{award.awarded|intcomma}}</td>
            </tr>
            {% endfor %}
            <tr class="bg-success">
                <th scope="row"></th>
                <td><strong>TOTAL</strong></td>
                <td></td>
                <td></td>
                <td> <strong> {{total_awarded_value|intcomma}} </strong> </td>
            </tr>
            </tbody>
        </table>
        <div class="download mt-5">
            <a class="btn bg-primary text-light mt-5" href="{% url 'forwarding_letter_institution' institution %}" target="_blank" rel="noopener noreferrer">Download Forwarding Letter for {{ institution }}</a>
        </div>
</div>


{%endblock%}